*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: url(../images/ntflxx.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.header{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.signIn{
    text-decoration: none;
    color: #fff;
    background-color: #e50914;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 400;
}

.content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.heading{
    font-size: 3.125rem;
    max-width: 640px;
    line-height: 1.1;
}

.sm-heading{
    font-size: 1.625rem;
    color: #fff;
    margin: 1rem 0;
    font-weight: 400;
}

.form-title{
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-weight: 400;
}

.content-input{
    width: 450px;
    height: 60px;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #8c8c8c;
    color: #000;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

.start-btn{
    border-left: 1px solid #000;
    background-color: #f40612;
    text-decoration: none;
    padding: 17px 20px;
    color: #fff;
    margin-left: -4px;
    font-size: 1.4rem;
    font-weight: 400;
}

